<div class="main-content">
    <div>
        <div class="flex-custom">
            <form [formGroup]="detailsForm" style="width: 50%;">
                <div class="mb-3">
                    <span class="stepper">Cart<img class="stepperImg" src="assets/right-arrow.svg" alt=""></span>
                    <span class="stepper">Information<img class="stepperImg" src="assets/right-arrow.svg"alt=""></span>
                    <span class="stepper">Payment</span>
    
                    <div class="customer_details" *ngIf="!paymentPage">
                        <h2 class="mb-4">Contact information</h2>
                        <div class="form-name mb-2">
                            <label>Email ID</label>
                            <input formControlName="emailId"  placeholder="Email ID" autocomplete="off" class="form-control" type="email" id="email-id">  
                        </div>
                        <ng-container *ngIf="userData && userData.address.length">
                            <h2 class="mb-4">Shipping Details</h2>
                            <div class="shipping_details mb-4" style="text-align: initial;">

                                <table class="table mb-3">
                                        <tbody>
                                            <tr class="border-bottom" *ngFor="let data of userData.address; index as i">
                                                <td class="border-0 flex-align"><input type="radio" id="existAddress_{{i}}" name="addressType" (change)="addressSelection('exist',data)" class="mr-2" value="exist" checked>
                                                    <label class="m-0" for="existAddress_{{i}}">Address - {{data.doorNoAndStreet}}, {{data.city}}, {{data.state}}, {{data.pincode}}  </label> </td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <td class="border-0 flex-align"><input type="radio"  name="addressType" id="different" (change)="addressSelection('different')" class="mr-2" value="different" >
                                                    <label class="m-0" for="different">
                                                        Use a different billing address
                                                    </label></td>
                                            </tr>
                                        </tbody>
                                </table>
    
                            </div>
                            <div *ngIf="detailsForm.get('addressType').value=='different'">
                                <div class="form-name mb-4">
                                    <label>Country</label>
                                    <input formControlName="countryName" placeholder="Country" autocomplete="off" class="form-control" type="text" id="countryName">  
                                </div>
                                <div class="flex-custom">
                                    <div class="form-name mb-4 mr-3 w-50">
                                        <label>First Name</label>
                                        <input formControlName="firstName" placeholder="First Name" autocomplete="off" class="form-control" type="text" id="firstName">  
                                    </div>
                                    <div class="form-name mb-4 w-50">
                                        <label>Last Name</label>
                                        <input formControlName="lastName" placeholder="Last Name" autocomplete="off" class="form-control" type="text" id="lastName">  
                                    </div>
                                </div>
                                <div class="flex-custom">
                                    <div class="form-name mb-4 mr-3">
                                        <label>City</label>
                                        <input formControlName="cityName" placeholder="City" autocomplete="off" class="form-control" type="text" id="cityName">  
                                    </div>
                                    <div class="form-name mb-4 mr-3">
                                        <label>State</label>
                                        <input formControlName="stateName" placeholder="State" autocomplete="off" class="form-control" type="text" id="stateName">  
                                    </div>
                                    <div class="form-name mb-4">
                                        <label>PIN code</label>
                                        <input formControlName="pinCode" placeholder="PIN code" autocomplete="off" class="form-control" type="text" id="pinCode">  
                                    </div>
                                </div>
                                <div class="form-name mb-4">
                                    <label>Address, suite, etc.</label>
                                    <input formControlName="address" placeholder="Address, suite, etc." autocomplete="off" class="form-control" type="text" id="address">  
                                </div>
                                <div class="form-name mb-4">
                                    <label>Landmark</label>
                                    <input formControlName="landmark" placeholder="Landmark" autocomplete="off" class="form-control" type="text" id="landmark">  
                                </div>
                                <div class="form-name mb-4">
                                    <label>Phone No.</label>
                                    <input formControlName="phoneNo" placeholder="Phone No." autocomplete="off" class="form-control" type="text" id="phoneNo">  
                                </div>
                                <div class="flex-custom mb-4">
                                    <input type="checkbox" id="saveInfo" formControlName="saveInfo" class="mr-3 mb-1" autocomplete="off" (change)="saveAddress($event)">
                                    <label for="saveInfo">	Save this information for next time</label>
                                </div>
                                
                            </div>
                            <div class="flex-custom mb-4">
                                <div class="mb-2 mr-auto">
                                    <button class="btn btn-secondary mr-2"  routerLink="/jewel/cart" >Return to Cart</button>
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-dark mr-2" (click)="paymentPage=true" [class.disabled]="(detailsForm.invalid && !(detailsForm.value.addressType=='exist' && detailsForm.value.emailId)) || (userData && userData.address.length && detailsForm.value.addressType=='exist')">Continue to Payment</button>
                                </div>
                            </div>

                        </ng-container>
                        <ng-container *ngIf="!userData || !userData.address.length">
                            <h2 class="mb-4">Shipping Details</h2>
                            <div class="form-name mb-4">
                                <label>Country</label>
                                <input formControlName="countryName" placeholder="Country" autocomplete="off" class="form-control" type="text" id="countryName">  
                            </div>
                            <div class="flex-custom">
                                <div class="form-name mb-4 mr-3 w-50">
                                    <label>First Name</label>
                                    <input formControlName="firstName" placeholder="First Name" autocomplete="off" class="form-control" type="text" id="firstName">  
                                </div>
                                <div class="form-name mb-4 w-50">
                                    <label>Last Name</label>
                                    <input formControlName="lastName" placeholder="Last Name" autocomplete="off" class="form-control" type="text" id="lastName">  
                                </div>
                            </div>
                            <div class="flex-custom">
                                <div class="form-name mb-4 mr-3">
                                    <label>City</label>
                                    <input formControlName="cityName" placeholder="City" autocomplete="off" class="form-control" type="text" id="cityName">  
                                </div>
                                <div class="form-name mb-4 mr-3">
                                    <label>State</label>
                                    <input formControlName="stateName" placeholder="State" autocomplete="off" class="form-control" type="text" id="stateName">  
                                </div>
                                <div class="form-name mb-4">
                                    <label>PIN code</label>
                                    <input formControlName="pinCode" placeholder="PIN code" autocomplete="off" class="form-control" type="text" id="pinCode">  
                                </div>
                            </div>
                            <div class="form-name mb-4">
                                <label>Address, suite, etc.</label>
                                <input formControlName="address" placeholder="Address, suite, etc." autocomplete="off" class="form-control" type="text" id="address">  
                            </div>
                            <div class="form-name mb-4">
                                <label>Landmark</label>
                                <input formControlName="landmark" placeholder="Landmark" autocomplete="off" class="form-control" type="text" id="landmark">  
                            </div>
                            <div class="form-name mb-4">
                                <label>Phone No.</label>
                                <input formControlName="phoneNo" placeholder="Phone No." autocomplete="off" class="form-control" type="text" id="phoneNo">  
                            </div>
                            <div class="flex-custom mb-4">
                                <input type="checkbox" id="saveInfo" formControlName="saveInfo" class="mr-3 mb-1" autocomplete="off" (change)="saveAddress($event)">
                                <label for="saveInfo">	Save this information for next time</label>
                            </div>
                            <div class="flex-custom mb-4">
                                <div class="mb-2 mr-auto">
                                    <button class="btn btn-secondary mr-2"  routerLink="/jewel/cart" >Return to Cart</button>
                                </div>
                                <div class="mb-2">
                                    <button class="btn btn-dark mr-2" (click)="paymentPage=true" [class.disabled]="detailsForm.invalid">Continue to Payment</button>
                                </div>
                            </div>
                            
                           
                        </ng-container>
                        
                           <!-- static policy content -->
                        <!-- <div class="flex-custom mb-3">
                        <ng-container *ngFor="let policy of productPolicies">
                                <ul class="tags">
                                    <li>
                                        <div class="product-policies">
                                            <img class="" [src]="policy.img" alt="">
                                            <p>{{policy?.Name}}</p>
                                        </div>
                                    </li>
                                </ul>
                        </ng-container>
                        </div> -->
                    </div>
                    <div class="mt-5" *ngIf="paymentPage">
                        <div class="shipping_details mb-4">
                            <table class="table mb-3">
                                    <tbody>
                                        <tr class="border-bottom">
                                            <td class="border-0">Contact</td>
                                            <td class="border-0">{{detailsForm.get('emailId').value}}</td>
                                            <td class="border-0 blue-text" (click)="paymentPage=false">Change</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td class="">Ship to</td>
                                            <td class="">{{detailsForm.get('address').value}}</td>
                                            <td class="blue-text" (click)="paymentPage=false">Change</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td class="">Method</td>
                                            <td class="">Standard shipping (Free) · Free</td>
                                            <td class=""></td>
                                        </tr>
                                    </tbody>
                            </table>

                        </div>
                        <div class="text-left mb-4">
                            <div>Payment</div>
                            <label>All transactions are secure and encrypted.</label>
                        </div>
                        <div class="shipping_details mb-4" style="text-align: initial;">
                            <table class="table mb-3">
                                    <tbody>
                                        <!-- <tr class="border-bottom">
                                            <td class="border-0"><input type="radio" id="cashFree" name="payment" class="mr-2" value="cashFree" checked>
                                                <label for="cashFree">Payment</label> </td>
                                        </tr> -->
                                        <tr class="border-bottom">
                                            <td class="border-0 flex-align"><input type="radio" id="razorPay" name="payment" class="mr-2" value="razorPay" (change)="paymentMethod('razorPay')"  checked>
                                                <label class="m-0" for="razorPay">Razorpay Secure (UPI, Cards, Wallets, NetBanking)</label></td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td class="border-0 flex-align"><input type="radio" id="cod" name="payment" class="mr-2" value="cash" (change)="paymentMethod('cash')">
                                                <label class="m-0" for="cod">Cash on Delivery</label></td>
                                        </tr>
                                    </tbody>
                            </table>

                        </div>
                        <div class="flex-custom mb-4">
                            <div class="mb-2 mr-auto">
                                <button class="btn btn-secondary mr-2"  (click)="paymentPage=false" >Return to Shipping</button>
                            </div>
                            <div class="mb-2">
                                <button class="btn btn-dark mr-2" (click)="updateOrder()">Place Order</button>
                            </div>
                        </div>    
                    </div>

                </div>
            </form>
        
               <div class="summary" style="width: 40%;">
                <label class="display-4 mb-5">Giva</label>
                <table class="table mb-3 border-bottom">
                    <ng-container *ngFor="let row of cartListData, let i=index">
                        <tbody>
                            <tr class="">
                                <td class="w-16"><img class="w-100" [src]='row.data.productImages[0]'></td>
                                <td class="">{{row.data.productName}}</td>
                                <td class="">Qua- {{row.quantity}}</td>
                                <td class="text-right">{{row.quantity * row.data.discountPrice | currency:'INR'}}</td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
                <div class="flex-custom mb-12">
                    <input placeholder="Discount code/Voucher code" [(ngModel)]="couponCode"  autocomplete="off" class="form-control" type="text" id="Voucher" readonly>
                    <button class="ml-12 btn btn-dark">Apply</button>
                </div>
                <div class="mt-4 mb-4" *ngIf="couponCode">
                    <div class="globo-selected" (click)="removeCoupon()">
                        {{couponCode}}<img class="d-arrow" src="/assets/close.svg" alt="">
                    </div>
                    <!-- <mat-chip-list>
                        <mat-chip>{{couponCode}}<img (click)="removeCoupon()" class="d-arrow" src="/assets/close.svg" alt=""></mat-chip>
                      </mat-chip-list> -->
                </div>
                <!-- <div class="form-name mb-4">
                    <label>Redeem GIVA Gift Card</label>
                    <div class="flex-custom">
                        <input placeholder="Enter Gift card No." autocomplete="off" class="form-control mr-12" type="text" id="giftcard">
                        <input placeholder="Enter PIN" autocomplete="off" class="form-control" type="text" id="PIN">
                        <button class="ml-12 btn btn-primary w-100">Redeem Now</button>
                    </div>
                </div> -->
                <div class="form-name" style="text-align: initial;margin-bottom: 100px;">
                    <label>Coupons</label>
                    <div class="flex-custom overflow-auto">
                    <ng-container *ngFor="let row of allcouponsList">
                        <div class="coupon-chips" [class.active_code]="row.active" (click)="applyDiscount(row)">
                            {{row.couponName}}
                        </div>
                    </ng-container>
                    </div>
                </div>
                <table class="table mb-3">
                    <tbody>
                        <tr class="">
                            <td class="text-left">Subtotal</td>
                            <td class="text-right">{{subTotalAmt | currency:'INR'}}</td>
                        </tr>
                        <tr class="" *ngIf="couponCode">
                            <td class="text-left">Discount:</td>
                            <td class="text-right">-{{discountAmt | currency:'INR'}}</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="text-left">Shipping:</td>
                            <td class="text-right"><s>{{99 | currency:'INR'}}</s> Free</td>
                        </tr>
                        <tr class="">
                            <td class="text-left">Total</td>
                            <td class="text-right">{{couponCode ? totalAmt : subTotalAmt | currency:'INR'}}</td>
                        </tr>
                    </tbody>
                </table>

               </div>
        </div>
    </div>


</div>