<div class="main-content">
    <h3>Your Addresses</h3>
    <ng-container *ngIf="!isEdit">
        <div class="row_item">
            <div class="item_border" style="border-style:dashed" *ngIf="!userData">
                <div style="padding: 59px;cursor: pointer;" (click)="editAddress('new',0,'')">
                    <mat-icon>add</mat-icon>
                    <label>Add address</label>
                </div>
            </div>
            <ng-conatiner *ngIf="userData && userData.address && userData.address.length" style="display: flex;">
                <ng-container  *ngFor="let data of userData.address; index as i" style="display: flex;" >
                    <div class="item_border" style="border-style:dashed" *ngIf="i==0">
                        <div style="padding: 59px;cursor: pointer;" (click)="editAddress('new',0,'')">
                            <mat-icon>add</mat-icon>
                            <label>Add address</label>
                        </div>
                    </div>
                    <div class="item_border" >
                            <label class=" flex-custom font-weight-bold">{{userData.firstName}} {{userData.lastName}}</label>
                        <label class="flex-custom">{{data.doorNoAndStreet}},</label>
                        <label class="flex-custom">{{data.city}}-{{data.pincode}},</label>
                        <label class="flex-custom">{{data.state}},</label>
                        <label class="flex-custom mb-3">{{data.country}}</label>
                        <div class="flex-custom">
                            <label class="blue-text" (click)="editAddress('edit',i,data)" >Edit</label><span class="mr-2 ml-2">|</span> 
                            <label class="blue-text" (click)="openConfirmDialog(data,i)" >Delete</label>
                            <!-- <span class="mr-2 ml-2">|</span> -->
                            <!-- <label class="blue-text">Set as default</label>  -->
                        </div>   
                    </div>
                </ng-container>
             
            </ng-conatiner>
           
        </div>
    </ng-container>
    <ng-container *ngIf="isEdit">
        <form [formGroup]="editForm" style="text-align: initial;">
            
            <div class="flex-custom">
                <div class="form-name mb-4 mr-3 w-50">
                    <label>First Name</label>
                    <input formControlName="firstName" placeholder="First Name" autocomplete="off" class="form-control" type="text" id="firstName">  
                </div>
                <div class="form-name mb-4 w-50">
                    <label>Last Name</label>
                    <input formControlName="lastName" placeholder="Last Name" autocomplete="off" class="form-control" type="text" id="lastName">  
                </div>
            </div>
            <div class="form-name mb-4">
                <label>Country</label>
                <input formControlName="countryName" placeholder="Country" autocomplete="off" class="form-control" type="text" id="countryName">  
            </div>
            <div class="flex-custom">
                <div class="form-name mb-4 mr-3">
                    <label>City</label>
                    <input formControlName="cityName" placeholder="City" autocomplete="off" class="form-control" type="text" id="cityName">  
                </div>
                <div class="form-name mb-4 mr-3">
                    <label>State</label>
                    <input formControlName="stateName" placeholder="State" autocomplete="off" class="form-control" type="text" id="stateName">  
                </div>
                <div class="form-name mb-4">
                    <label>PIN code</label>
                    <input formControlName="pinCode" placeholder="PIN code" autocomplete="off" class="form-control" type="text" id="pinCode">  
                </div>
            </div>
            <div class="form-name mb-4">
                <label>Address, suite, etc.</label>
                <input formControlName="address" placeholder="Address, suite, etc." autocomplete="off" class="form-control" type="text" id="address">  
            </div>
            <div class="form-name mb-4">
                <label>Landmark</label>
                <input formControlName="landmark" placeholder="Landmark" autocomplete="off" class="form-control" type="text" id="landmark">  
            </div>
            <div class="form-name mb-4">
                <label>Phone No.</label>
                <input formControlName="phoneNo" placeholder="Phone No." autocomplete="off" class="form-control" type="text" id="phoneNo">  
            </div>
            <div class="mb-2" style="text-align: center;">
                <button  class="btn btn-secondary mr-2" [class.disabled]="editForm.invalid"  (click)="saveEdit()">Save</button>
                <button  class="btn btn-secondary mr-2" (click)="isEdit=false" >Discard</button>
            </div>
    </form>

    </ng-container>
   


</div>