<div class="main-content">
   <app-carousel></app-carousel>
    <div class="collection_images mb-4">
      <!-- <img class="img-container" src="assets/homeImg/home.svg" alt=""> -->
     
    </div>
    <div class="collection_images mb-4">
      <img class="img-container" src="assets/homeImg/DESIGN 2.svg" alt="">
    </div>
    <!-- category -->
    <h3 class="text-center font-weight-bolder"><img class="heart" src="assets/homeImg/heart-64.png">Shop By Category<img class="heart" src="assets/homeImg/heart-64.png"></h3>
    <div class="flex-custom overflow-auto w-100 mb-4 p-2" style="background-color: #f8f8f8;">
     
      <div class="accordion ml-auto mr-auto" *ngFor="let row of listByCategory;let i=index">
        <div class="flex-grid cursor-pointer" (click)="getSelectedCollection(row)" >
           <img class="accordion_img cat_img" [src]="row?.data?.productImages[0]" alt="">
           <label class="product-name mt-1" style="width: 165px;">{{row?.category | titlecase}}</label>
           <div class="product-price">
            <!-- <label class="mr-12">{{row?.discountPrice | currency:'INR'}}</label> -->
            <!-- <s class="grey-text">{{row?.actualPrice | currency:'INR'}}</s> -->
           </div>
        </div>
     </div>
    </div>
     <!-- gift -->
     <h3 class="text-center font-weight-bolder"><img class="heart" src="assets/homeImg/heart-64.png">Top Picks For you<img class="heart" src="assets/homeImg/heart-64.png"></h3>
     <div class="flex-custom overflow-auto w-100 mb-4 p-2">
      <div class="accordion" *ngFor="let row of giftProducts;let i=index">
        <div class="flex-grid cursor-pointer" (click)="routeToDetails(row)">
           <img class="accordion_img gift_img" [src]="row?.productImages[0]" alt="">
           <label class="product-name mt-1" style="width: 320px;">{{row?.productName | titlecase}}</label>
           <div class="product-price">
            <label class="">{{row?.discountPrice | currency:'INR'}}</label>
            <div><s class="grey-text">{{row?.actualPrice | currency:'INR'}}</s></div>
           </div>
           
        </div>
     </div>
    </div>
     <!-- colour -->
     <h3 class="text-center font-weight-bolder"><img class="heart" src="assets/homeImg/heart-64.png">Shop By Colour<img class="heart" src="assets/homeImg/heart-64.png"></h3>
     <div class="flex-custom overflow-auto w-100 mb-4 p-2">
      <div class="accordion ml-auto mr-auto" *ngFor="let row of listByColour;let i=index">
        <div class="flex-grid cursor-pointer" (click)="getSelectedCollection(row)" >
           <img class="accordion_img colr_img border-0" [src]="row?.img" alt="">
           <label class="product-name mt-1" style="width: auto;">{{row?.colour | titlecase}}</label>
           <div class="product-price">
            <!-- <label class="mr-12">{{row?.discountPrice | currency:'INR'}}</label> -->
            <!-- <s class="grey-text">{{row?.actualPrice | currency:'INR'}}</s> -->
           </div>
        </div>
     </div>
    </div>
     <!-- essential -->
     <h3 class="text-center font-weight-bolder"><img class="heart" src="assets/homeImg/heart-64.png">Essentials For You<img class="heart" src="assets/homeImg/heart-64.png"></h3>
     <div class="flex-custom overflow-auto w-100 mb-4 p-2">
      <div class="accordion ml-auto mr-auto" *ngFor="let row of listByStyle;let i=index">
        <div class="flex-grid cursor-pointer ml-12 mr-12" (click)="getSelectedCollection(row)">
           <img class="accordion_img circle_img" [src]="row?.img" alt="">
           <label class="product-name w-100 mt-1">{{row?.style | titlecase}} Wear</label>
           <div class="product-price">
            <!-- <label class="mr-12">{{row?.discountPrice | currency:'INR'}}</label> -->
            <!-- <s class="grey-text">{{row?.actualPrice | currency:'INR'}}</s> -->
           </div>
        </div>
     </div>
    </div>
   
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen]="true"></ngx-spinner>
